@use "./vars";

.Checkout {
    width: 100%;
    height: calc(100vh - 6.1rem);
    display: grid;
    place-items: center;
}

.Checkout .title {
    font-size: var(--large-font);
    margin-bottom: 4rem;
}

.Checkout .my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;

    /* Ancho del contenedor centrado */
    width: 30rem;
}

.Checkout .my-order-content {
    /*Nos permite poner todo de manera vertical*/
    display: flex;
    flex-direction: column;
}

.Checkout .order {
    display: grid;
    grid-template-columns: auto 1fr;
    
    /*Separación ente los objetos del grid*/
    gap: 1.6rem;

    /*Centramos los elementos verticalmente, se nota principalmente en el precio ttal*/
    align-items: center;
    
    background-color: var(--text-input-field);
    margin-bottom: 2.5rem;
    border-radius: 0.8rem;
    padding: 0 2.4rem;
}

/*Aplica los estilos al primer parrafo dentro de la clase*/
.Checkout .order p:nth-child(1){
    /*Ponemos en vertical la fecha y el numero de articulos de la arden*/
    display: flex;
    flex-direction: column;
}

/*Dentro de las etiqueta p, el primer hijo que DEBE ser span
la fecha de compra de la orden*/
.Checkout .order p span:first-child {
    font-size: var(--med-font);
    font-weight: bold;
}

 /*Dentro de las etiqueta p, el hijo numero 2 que debe ser span*/
.Checkout .order p span:nth-child(2) {
    font-size: var(--small-font);
    color: var(--very-light-pink);
}

/*El hijo número 2 que DEBE ser p, que es el precio de la compra*/
.Checkout .order p:nth-child(2){
    text-align: end;
    font-size: var(--med-font);
    font-weight: bold;
}

/*Es cada uno de los productos de la orden*/
.Checkout .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1.6rem;
    margin-bottom: 2.4rem;

    /*Centramos los elementos de manera vertical,se nota mucho más en el nombre del artíuclo y y su precio*/
    align-items: center;
}

.Checkout .shopping-cart figure {
    margin: 0;
}

.Checkout .shopping-cart figure img{
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;

    /*Para evitar que la imagen se vea estirada o pixelada*/
    object-fit: cover;
}

/*El segundo hijo que DEBE ser p*/
.Checkout .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--small-font);
}

/*El tercer hijo que DEBE ser p*/
.Checkout .shopping-cart p:nth-child(3) {
    font-size: var(--med-font);
    font-weight: bold;
}