@use "./vars";

.desktop-menu {
    position: absolute;
    top: 6rem;
    right: 6rem;
    background: var(--white);
    width: 10rem;
    height: auto;
    border: 0.1rem solid var(--very-light-pink);
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;

    /*Top, right, bottom, left*/
    padding: 2rem 2rem 0 2rem;
}

.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li{
    text-align: end;
}

/*Todos MENOS el último hijo*/
.desktop-menu ul li:not(:last-child){
    font-weight: bold;
    font-size: var(--med-font);
}

.desktop-menu ul li a{
    color:var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2rem;
}

.desktop-menu ul li:last-child{
    padding-top: 2rem;
    border-top:  0.1rem solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--small-font);
}