@use "./vars";

.NewPassword {
    width: 100%;
    height: calc(100vh - 6.1rem);
    /*Esta propiedad de grid centra vertical y horizontalmente*/
    display: grid;
    place-items: center;
}

.NewPassword .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /*Divide todo en filas individuales*/
    width: 30rem; /*Ancho del contenedor principal*/
}

.NewPassword .logo {
    width: 15rem;
    margin-bottom: 4.8rem;
    justify-self: center;
    display: none; /*Para que no aparezca en escritorio por default*/
}

.NewPassword .title {
    font-size: var(--large-font);
    margin-bottom: 1.2rem;
    text-align: center;
}

.NewPassword .subtitle {
    color: var(--black);
    font-size: var(--med-font);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 3.2rem;
    text-align: center;
}

.NewPassword .form {
    /*Para que los textos y casillas estén de forma vertical*/
    display: flex;
    flex-direction: column;
}

.NewPassword .label {
    font-size: var(--small-font);
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.NewPassword .input {
    background-color: var(--text-input-field);
    /*Quitamos el borde por default de los inputs, y lo redondeamos*/
    border: none;
    border-radius: 0.8rem;
    height: 3rem;
    font-size: var(--med-font);
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}

.NewPassword .primary-button {
    background-color: var(--hospital-green);
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--med-font);
    font-weight: bold;
    height: 5rem;
}

.NewPassword .login-button {
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}

/*La imagen del logo seguira apareciendo hasta
los 640px*/
@media (max-width: 640px){
    .NewPassword .logo {
        display: block;
    }
}