@use "./vars";

.Order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.Order p:first-child {
    display: flex;
    flex-direction: column;
}

.Order p:first-child span:first-child{
    font-size: var(--med-font);
    font-weight: bold;
}

.Order p:first-child span:last-child{
    font-size: var(--small-font);
    font-weight: bold;
    color: var(--very-light-pink);
}

.Order p:nth-child(2) {
    display: flex;
    font-size: var(--med-font);
    font-weight: bold;
}

.Order p:nth-child(2) img {
    margin-left: 1.2rem;
}