@use "./vars";

.product-card {
    /*Tamaño de cada producto*/
    width: var(--card-size);
}

.product-card img {
    width: 100%;
    height: var(--card-size);
    border-radius: 2rem;

    /*Esta propiedad hace que la imagen se adecue al
    tamaño dado, para no verse estirada o pixelada*/
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
}

/*Por defecto la etiqueta figure tiene un margin, se lo quitamos
para evitar problemas*/
.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 3.5rem;
    height: 3.5rem;
}

/*El primer párrafo dentro de un div*/
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--med-font);
    margin-top: 0;
    margin-bottom: 0.4rem;
}
.product-info div p:nth-child(2) {
    font-size: var(--small-font);
    color: var(--very-light-pink);
    margin-top: 0;
    margin-bottom: 0;
}