@use "./vars";

.content {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.advise-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 35rem;
    justify-items: center;
}

.logo {
    width: 15rem;
    margin-bottom: 4.8rem;
    justify-self: center;
    display: none;
}

.title {
    text-align: center;
    font-size: var(--large-font);
    margin-bottom: 1.2rem;
}

.subtitle {
    text-align: center;
    font-size: var(--large-font);
    color: var(--black);
    margin-top: 0;
    margin-bottom: 3rem;
}

.email-icon {
    width: 13.2rem;
    height: 13.2rem;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    /*Tambien modifica el tamaño de la imagen para ajustarse*/
    align-items: center;
    margin-bottom: 2.4rem;
}

.email-icon img {
    width: 8rem;
}

.primary-button {
    background-color: var(--hospital-green);
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--small-font);
    color: var(--white);
    width: 100%;
    height: 5rem;
    border-radius: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}

footer span {
    font-size: var(--small-font);
    margin-right: 0.5rem;
}
footer a {
    font-size: var(--small-font);
    color: var(--hospital-green);
    margin-top: 1.4rem;
}

@media (max-width: 640px){
    .logo {
        display: block;
    }
}